
<th class="th-textalign-center" id="dm_thStatus">Status</th>
<th class="th-textalign-center">Saved?</th>
<th class="th-textalign-center" id="dm_thPublisher">Publisher</th>
<th class="th-textalign-center" id="dm_thServiceTitle">Service Title</th>
<th class="th-textalign-center" id="dm_thKeyword">Keyword</th>
<th class="th-textalign-center" id="dm_thSiteName">Site Name</th>
<th class="th-textalign-center" id="dm_thVariableName">Variable Name</th>
<th class="th-textalign-center">QCLID</th>
<th class="th-textalign-center" id="dm_thQcLevel">QC Level</th>
<th class="th-textalign-center">MethodId</th>
<th class="th-textalign-center" id="dm_thMethod">Method</th>
<th class="th-textalign-center">SourceId</th>
<th class="th-textalign-center" id="dm_thCollector">Collector</th>
<th class="th-textalign-center" id="dm_thVariableUnits">Variable Units</th>
<th class="th-textalign-center" id="dm_thDataType">Data Type</th>
<th class="th-textalign-center" id="dm_thValueType">Value Type</th>
<th class="th-textalign-center" id="dm_thSampleMedium">Sample Medium</th>
<th class="th-textalign-center" id="dm_thStartDate">Start Date</th>
<th class="th-textalign-center" id="dm_thEndDate">End Date</th>
<th class="th-textalign-center" id="dm_thValueCount">Value Count (est.)</th>
<th class="th-textalign-center" id="dm_thTimeSupport">Time Support <a href="javascript:;" target="_blank" onclick="helpIconClicked('TimeSupport');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></th>
<th class="th-textalign-center" id="dm_thTimeUnit">Time Unit <a href="javascript:;" target="_blank" onclick="helpIconClicked('TimeUnit');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></th>

<th class="th-textalign-center" id="dm_thSeriesId">Series Id</th>
<th class="th-textalign-center">WaterOneFlow URI</th>
<th class="th-textalign-center" id="dm_thCreated">Created</th>
<th class="th-textalign-center">TimeSeriesRequestId</th>
