

<th>Organization</th>
<th>Service Title</th>
<th>Keyword</th>
<th>DataType</th>
<th>ValueType</th>
<th>SampleMedium</th>
<th>Start Date</th>
<th>End Date</th>
<th>ValueCount</th>
<th>Site Name</th>
<th>Variable Name</th>
<th>Time Support <a href="javascript:;" target="_blank" onclick="helpIconClicked('TimeSupport');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></th>
<th>Time Unit <a href="javascript:;" target="_blank" onclick="helpIconClicked('TimeUnit');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></th>
<th>Service URL</th>

<th>SiteCode</th>
<th>VariableCode</th>
<th>SeriesId</th>
<th>ServURL</th>

