
<th class="th-textalign-center">Status</th>
<th class="th-textalign-center">Saved?</th>
<th class="th-textalign-center">Publisher</th>
<th class="th-textalign-center">Service Title</th>
<th class="th-textalign-center">Keyword</th>
<th class="th-textalign-center">Site Name</th>
<th class="th-textalign-center">Variable Name</th>
<th class="th-textalign-center">QCLID</th>
<th class="th-textalign-center">QC Level</th>
<th class="th-textalign-center">MethodId</th>
<th class="th-textalign-center">Method</th>
<th class="th-textalign-center">SourceId</th>
<th class="th-textalign-center">Collector</th>
<th class="th-textalign-center">Variable Units</th>
<th class="th-textalign-center">Data Type</th>
<th class="th-textalign-center">Value Type</th>
<th class="th-textalign-center">Sample Medium</th>
<th class="th-textalign-center">Start Date</th>
<th class="th-textalign-center">End Date</th>
<th class="th-textalign-center">Value Count</th>
<th class="th-textalign-center">Time Support <a href="javascript:;" target="_blank" onclick="helpIconClicked('TimeSupport');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></th>
<th class="th-textalign-center">Time Unit <a href="javascript:;" target="_blank" onclick="helpIconClicked('TimeUnit');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></th>

<th class="th-textalign-center">SeriesId</th>
<th class="th-textalign-center">WaterOneFlow URI</th>
<th class="th-textalign-center">Created</th>
<th class="th-textalign-center">TimeSeriesRequestId</th>
