<th>Organization</th>
<th>ServCode</th>
<th>Service Title</th>
<th>Keyword</th>
<th>Variable Name</th>

<th>ServURL</th>
<th>SiteCode</th>
<th>VariableCode</th>
<th>Start Date</th>
<th>End Date</th>
<th>ValueCount</th>
<th>Site Name</th>
<th>DataType</th>
<th>ValueType</th>
<th>SampleMedium</th>

@*NOTE: MUST include 'void 0' in HREF so IE works properly!!*@
<th>TimeUnit <a href="javascript:helpIconClicked('TimeUnit'); void 0" ><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></th>

@*<th>Latitude</th>*@
@*<th>Longitude</th>*@

@*<th>GeneralCategory</th>*@
@*NOTE: MUST include 'void 0' in HREF so IE works properly!!*@
<th>TimeSupport <a href="javascript:helpIconClicked('TimeSupport'); void 0" ><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></th>

@*BCC - 15-Oct-29015 -  Suppress display of IsRegular*@
@*<th>IsRegular</th>*@
@*<th>VariableUnits</th>*@
@* <th>Citation</th>*@
<th>SeriesId</th>
<th>Service URL</th>
<th>Web Service Description URL</th>
