
<th>Status</th>
<th>Saved?</th>
<th>Organization</th>
<th>Service Title</th>
<th>Keyword</th>
<th>Variable Units</th>
<th>Data Type</th>
<th>Value Type</th>
<th>Sample Medium</th>
<th>Start Date</th>
<th>End Date</th>
<th>Value Count</th>
<th>Site Name</th>
<th>Variable Name</th>
<th>Time Support <a href="javascript:;" target="_blank" onclick="helpIconClicked('TimeSupport');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></th>
<th>Time Unit <a href="javascript:;" target="_blank" onclick="helpIconClicked('TimeUnit');"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></th>

<th>SeriesId</th>
<th>WaterOneFlow URI</th>
<th>Created</th>
@*<th>TimeSeriesRequestStatus</th>*@
<th>TimeSeriesRequestId</th>
