@{
    ViewBag.Title = "Beta Version of the CUAHSI HIS web Client";
}
<h2>@ViewBag.Title.</h2>

<p>Beta Version of the CUAHSI HIS web Client</p>
<p >
    This Version provides a basic functionality to discover timeseries by specifying
    <ul>
        <li>A geographic extend (current map window)</li>
        <li>One or many concept variables</li>
        <li>One or many published services from the CUAHSI Catalog</li>
    </ul>

    The application searches the catalog and returns a list of timeseries data that is plotted on the map. Geographically close points are combined into one clustered marker. Users can investigate the marker by clicking on it.
    All series comprised in the marker are returned to the user in a table. The user can then identify the timeseries to download and initiate the download by clicking the row in the table.
    The selected timeseries is retrieved from the published service, converted into a CSV file and returned to the user.
</p>



Please provide feedback to influence additional features and functionality
<h4>Link to Feedback Form:</h4>
<p>
    <a target="_blank" href="https://docs.google.com/forms/d/1Jso7DCbV136xW0KuAyZR1l6ia4MbDQv-BiB7uXdnNa0/viewform"> Open Form</a> </br>
</p>
</br>
<h4>Link to User Feedback spreadsheet: </h4>

<p>
    <a target="_blank" href="https://docs.google.com/spreadsheets/d/1orlvQF7eMeEg6EIUAi4gqUFnys8xNSrEm9sUuX0XYVY/edit?usp=sharing"> Open Feedback Spreadsheet </a> </br>
</p>
