@{
    Page.Title = ViewBag.Message;
    <script>
        sessionGuid = '@(ViewBag.ThisSessionGuid)';
    </script>
        //Layout = null;
        }
        @section styles
{
        @*<link href="~/Content/Sidebar.css" rel="stylesheet" />*@

    <link href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/colvis/1.1.1/css/dataTables.colVis.css" rel="stylesheet" />
   @* <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/south-street/jquery-ui.min.css" rel="stylesheet" type="text/css" />*@

}

<!-- HTML code from Bootply.com editor -->

<div class="container">
    <div  id="pageloaddiv"></div>
    <div class="row">
        <div class="">
            <div id="map-canvas"></div>
            <div id="menu">
                <div><img class="expander" alt="Expand" src="~/Content/Images/closetop.png" /></div>
                <div class="" id="selectors">
                    <form id="Search" class="navbar-form" role="search">
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#SelectDateModal">Select Date</button>
                        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#SelectVariableModal">Select Variable(s)</button>
                        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#SelectServicesModal">Select Services(s)</button>

                        <div id="SelectedDateRange">

                        </div>
                        <br />
                        <button type="submit" class="btn btn-success btn-block">Search Map</button><br />
                        <button id="clear" type="button" class="btn btn-warning btn-xs btn-group-justified"> Clear map </button>


                    </form>
                </div>
            </div>
            @*<h1 id="home">
                    <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify ">
                        <i class="fa fa-bars"></i>
                    </a>

                </h1>*@
        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="SelectDateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Please select your date range:</h3>

            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="input-daterange">
                            <input id="startDate" value="02/12/2000" />
                            <span class="add-on">to</span>
                            <input id="endDate" value="12/12/2014" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Save</button>
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="SelectVariableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Please select your concept/variable(s) </h3>
                <h6>(No selection searches all)</h6>

            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row">
                            <div class="controls col-md-4">
                                <label class="checkbox">
                                    <input type="checkbox" name="keywords" value="Temperature" id="inlineCheckbox2"> Temperature
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="keywords" value="Precipitation" id="inlineCheckbox3"> Precipitation
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="keywords" value="Discharge_ stream" id="inlineCheckbox7"> Streamflow
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="keywords" value="Salinity" id="inlineCheckbox3"> Salinity
                                </label>
                            </div>
                            <div class="controls col-md-4">
                                <label class="checkbox">
                                    <input type="checkbox" name="keywords" value="Humidity" id="inlineCheckbox4"> Humidity
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="keywords" value="Iron" id="inlineCheckbox5"> Iron
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="keywords" value="Lead" id="inlineCheckbox6"> Lead
                                </label>
                            </div>


                        </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Save</button>
                    </div>
                    </div>
                </div>
            </div>


            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

<!-- Modal -->

<div class="modal fade full-screen" id="SelectServicesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog-full">
        <div class="modal-content-full">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Click to select Services (No selection searches all)</h3>
            </div>
            <div class="modal-body-full">
                <table id="dtServices" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ServiceID</th>
                            <th>ServiceCode</th>
                            <th>Title</th>
                            <th>DescriptionUrl</th>
                            <th>ServiceUrl</th>
                            <th>Checked</th>
                            <th>Organization</th>
                            <th>Sites</th>
                            <th>Variables</th>
                            <th>Values</th>
                            <th>ServiceBoundingBox</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>ServiceID</th>
                            <th>ServiceCode</th>
                            <th>Title</th>
                            <th>DescriptionUrl</th>
                            <th>ServiceUrl</th>
                            <th>Checked</th>
                            <th>Organization</th>
                            <th>Sites</th>
                            <th>Variables</th>
                            <th>Values</th>
                            <th>ServiceBoundingBox</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id ="cancelServiceSelection" class="btn btn-default alert-info" data-dismiss="modal">Cancel</button>
                <button type="button" id="saveServiceSelection" class="btn btn-default btn-primary" data-dismiss="modal">Save Selection</button>
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>



<!-- Modal -->
<div class="modal fade full-screen" id="SelectDateModaltest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 ng-hide="newUser">Heading</h3>
    </div>
</div>

<div class="modal fade full-screen" id="SeriesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog-full">
        <div class="modal-content-full">
            <div class="modal-header-full">
                <button type="button" class="close" data-dismiss="modal" ariaPlease click to start download as CSV filehidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">List of Timeseries in area</h3>
                <h5>Clicking the row will start the download of the data as a CSV file</h5>
            </div>
            <div class="modal-body-full">
                <table id="dtMarkers" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>SeriesId</th>
                            <th>ServCode</th>
                            <th>ServURL</th>
                            <th>SiteCode</th>
                            <th>VariableCode</th>
                            <th>VariableName</th>
                            <th>BeginDate</th>
                            <th>EndDate</th>
                            <th>ValueCount</th>
                            <th>SiteName</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>DataType</th>
                            <th>ValueType</th>
                            <th>SampleMedium</th>
                            <th>TimeUnit</th>
                            <th>GeneralCategory</th>
                            <th>TimeSupport</th>
                            <th>ConceptKeyword</th>
                            <th>IsRegular</th>
                            <th>VariableUnits</th>
                            <th>Citation</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>SeriesId</th>
                            <th>ServCode</th>
                            <th>ServURL</th>
                            <th>SiteCode</th>
                            <th>VariableCode</th>
                            <th>VariableName</th>
                            <th>BeginDate</th>
                            <th>EndDate</th>
                            <th>ValueCount</th>
                            <th>SiteName</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>DataType</th>
                            <th>ValueType</th>
                            <th>SampleMedium</th>
                            <th>TimeUnit</th>
                            <th>GeneralCategory</th>
                            <th>TimeSupport</th>
                            <th>ConceptKeyword</th>
                            <th>IsRegular</th>
                            <th>VariableUnits</th>
                            <th>Citation</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer-full">
                @*<span>
                    @Html.ActionLink("Download as CSV", "downloadFile", "Export", new { id = 1 }, new { @class = "btn btn-info active pull-right", target = "_blank" })
                </span>
                <button id="DownloadAsCSV" type="button" class="btn btn-default">Download Selected as CSV</button>*@
            </div>

            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div id="context" data-toggle="context" data-target="#context-menu" style="height:300px;width:650px;border:1px solid #ddd">
</div>

<!-- Your custom menu with dropdown-menu as default styling -->
<div id="context-menu">
    <ul class="dropdown-menu" role="menu">
        <li><a tabindex="-1">Action</a></li>
        <li><a tabindex="-1">Another action</a></li>
        <li><a tabindex="-1">Something else here</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1">Separated link</a></li>
    </ul>
</div>



<!-- /.modal -->
@*<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>*@


<script type='text/javascript' src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>





<!-- JavaScript jQuery code from Bootply.com editor  -->

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/Google/markerwithlabel.js"></script>
<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/colvis/1.1.1/js/dataTables.colVis.min.js"></script>
@*<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>*@

@*<script src="//cdn.jsdelivr.net/jquery.ui-contextmenu/1.7.0/jquery.ui-contextmenu.min.js"></script>*@
@*<script src="//cdn.datatables.net/plug-ins/725b2a2115b/api/fnFilterClear.js"></script>*@

<script src="~/Scripts/Google/keydragzoom_packed.js"></script>
@*<script src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>*@
<script src="~/Scripts/Custom/webclient.js"></script>
@*<script src="~/Scripts/custom/webclient.js"></script>*@
@*<script src="~/Scripts/bootstrap-contextmenu.js"></script>*@

<script>

</script>
