

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Google Map Inside Tab Panel</h1>

                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                    <li><a href="#map" data-toggle="tab">Map</a></li>
                    <li><a href="#messages" data-toggle="tab">Messages</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="home">Home content...</div>
                    <div class="tab-pane" id="map">
                        <div id="map-canvas"></div>
                    </div>
                    <div class="tab-pane" id="messages">Messages...</div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
