<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>

                           @*<!-- Button trigger modal -->
<div class="form-group">
    <fieldset>
        <legend style="margin-bottom: 0.5em;">
            @*<button class="btn btn-primary btn-block" id="btnDateRange" style="width: 90%; margin: 0 auto;" data-toggle="modal" data-target="#SelectDateModal">Select Date Range...</button>*@
            <button class="btn btn-primary" id="btnDateRange" style="margin: 0 auto;" data-toggle="modal" data-target="#SelectDateModal">Select Date Range...</button>
        </legend>
        <div @*class="non-modal-inputs" *@>
            <div id="grpStartDate" class="form-group" style="position: relative; float: left">
                @*<br />*@
                <label class="control-label col-sm-2" for="startDate" id="lblStartDate">From: </label>
                <div class="col-md-7">
                    <input id="startDate" class="form-control default-cursor col-md-4" type="text" style="margin-left: 0.5em;" readonly="readonly" />
                    <label id="lblStartDateError" class="help-block" style="display:none;"></label>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div id="grpEndDate" class="form-group" style="position: relative; float: left">
                @*<br />*@
                <label class="control-label col-sm-2" for="endDate" id="lblEndDate">To: </label>
                <div class="col-md-7">
                    <input id="endDate" class="form-control default-cursor col-md-4" type="text" style="margin-left: 0.5em;" readonly="readonly" />
                    <label id="lblEndDateError" class="help-block" style="display:none;  margin-left: 0.5em;"></label>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="form-group" style="box-sizing: border-box;">
    <fieldset>
        <legend style="margin-bottom: 0.25em;">
            *@
            @*<button class="btn btn-primary btn-block" id="btnSelectKeywords" style="width: 90%; margin: 0 auto;" data-toggle="modal" data-target="#SelectVariableModal">Select Keyword(s)...</button>*@
            @*<button class="btn btn-primary btn-block" id="btnSelectKeywords" style="margin: 0 auto;" data-toggle="modal" data-target="#SelectVariableModal">Select Keyword(s)...</button>*@
            @*<button class="btn btn-primary btn-block" type="button" id="btnSelectKeywords" disabled style="margin: 0 auto;">Select Keyword(s)...</button>*@
            <button class="btn btn-primary" type="button" id="btnSelectKeywords" disabled style="margin: 0 auto;">
                <h4 class="text-center" style="display: inline; vertical-align: middle;">
                    <span id="glyphiconSpanSK" class="glyphicon glyphicon-refresh spin" style="color: #32cd32;"></span>
                </h4>
                Loading Keyword(s)...
            </button>
        </legend>
        <div style="overflow-y: scroll; max-height: 10em;">
            <ol id="olConcepts" style="list-style: circle;">
                <li>All</li>
            </ol>
        </div>
    </fieldset>
</div>
<div class="form-group" style="box-sizing: border-box;">
    <fieldset>
        <legend style="margin-bottom: 0.25em;">
            @*<button class="btn btn-primary btn-block" style="width: 90%; margin: 0 auto;" data-toggle="modal" data-target="#SelectServicesModal">Select Data Service(s)...</button>*@
            <button class="btn btn-primary" id="btnSelectDataServices" style="margin: 0 auto;" data-toggle="modal" data-target="#SelectServicesModal">Select Data Service(s)...</button>
        </legend>
        <div style="overflow-y: scroll; max-height: 10em;">
            <div style="max-height: 10em;">
                <ol id="olServices" style="list-style: circle;">
                    <li>All</li>
                </ol>
            </div>
    </fieldset>
</div>
<div id="SelectedDateRange">

</div>
<div class="form-group" style="box-sizing: border-box;" id="searchBtnDiv">

    <!-- For click handler see webclient.js $("#Search").submit(function (e) -->
    <button type="submit" class="btn btn-success" style="margin: 0 auto;">Search Map</button><br />
    <button id="btnSetDefaults" type="button" class="btn btn-warning" style="margin: 0 auto;">Reset</button>
    @*<div style="text-align: center; margin-top: 1em; ">
        <a href="http://www.github.com/cuahsi" target="_blank">Version 1.0</a>
    </div>*@
</div>*@

