body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

 html, body, .container, .tab-content, .tab-pane {
            height: 100%;
        }

#map-canvas {
    width: 100%;
    /*height: 600px;*/
    /*min-height: 100%;*/
    left:0px;
    position:absolute;
}
.full-screen {
    width: 96%;
    height: 100%;
    margin: 2%;
    /*top: 2%;
    left: 2%;
    right: 2%;
    bottom:2%;*/    
    padding:20px;
    background-color:white;
}
.modal-dialog-full
{
    width:100%;
}
.modal-content-full
{
    width:100%;
}
.modal-body-full
{
    width:100%;
}
table
{
    /*overflow:hidden;*/
    /*word-wrap:initial;*/
    white-space:nowrap;
    width:100%;
    /*background-color:red;*/
}
div.GblueLabel16, div.GblueLabel20, div.GblueLabel22,div.GblueLabel24,div.GblueLabel26,div.GblueLabel28,div.GblueLabel30,div.GblueLabel32,div.GblueLabel36,div.GblueLabel40,div.GblueLabel42,div.GblueLabel44,div.GblueLabel48,div.GblueLabel56,div.GblueLabel64 
{  display: block;  text-align: center;  color: white;  letter-spacing: 0;  font-weight: normal;  font-family: Arial;}
div.GblueLabel16 {  padding-top: 22px;  width: 44px;  font-size: 10px;}
div.GblueLabel20 {  padding-top: 22px;  width: 44px;  font-size: 10px;}
div.GblueLabel22 {  padding-top: 22px;  width: 44px;  font-size: 10px;}
div.GblueLabel24 {  padding-top: 22px;  width: 44px;  font-size: 11px;}
div.GblueLabel26 {  padding-top: 22px;  width: 44px;  font-size: 11px;}
div.GblueLabel28 {  padding-top: 22px;  width: 44px;  font-size: 11px;}
div.GblueLabel30 {  padding-top: 22px;  width: 44px;  font-size: 11px;}
div.GblueLabel32 {  padding-top: 22px;  width: 44px;  font-size: 11px;}
div.GblueLabel36 {  padding-top: 22px;  width: 44px;  font-size: 12px;}
div.GblueLabel40 {  padding-top: 22px;  width: 44px;  font-size: 12px;}
div.GblueLabel42 {  padding-top: 22px;  width: 44px;  font-size: 12px;}
div.GblueLabel44 {  padding-top: 22px;  width: 44px;  font-size: 12px;}
div.GblueLabel48 {  padding-top: 22px;  width: 48px;  font-size: 13px;}
div.GblueLabel56 {  padding-top: 22px;  width: 56px;  font-size: 13px;}
div.GblueLabel64 {  padding-top: 22px;  width: 64px;  font-size: 13px;} 

#wrapper {
}
#menu {
   width: 200px; 
   height:500px;
    position: absolute;/*this will position the div according to its parent div "map"*/
    top: 114px;
   right: 0px; /*place the div wherever you want with top and left px, em or % values*/
    float:right;
 /*Use this for your trasparency*/
    background-color: white;
    background-image: none;
    opacity: .9; /*for real browsers (Chrome, Firefox, Safari..)*/
    filter:alpha(opacity=60); /* for IE */
    }
.row-background-red{
    background-color:red;
}
