<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=301880
	-->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-HISWebClient-20140906015907.mdf;Initial Catalog=aspnet-HISWebClient-20140906015907;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!-- BCC - 30-Nov-2015 - Change login to use HISCentralAdmin to avoid authentication problems with Google login -->
    <!--add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=HydroServertoolsUserDB_1_1_3; Integrated Security=True;Persist Security Info=true;" providerName="System.Data.SqlClient" / -->
    <!-- add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=HydroServertoolsUserDB_1_1_3; Integrated Security=false;Persist Security Info=true; User ID=hiscentraladmin;Password=HIS@cuahs1" providerName="System.Data.SqlClient" / -->

    <add name="DefaultConnection" connectionString="Data Source=ma075ln8iq.database.windows.net,1433;Initial Catalog=HISClientUsers; Integrated Security=false;Persist Security Info=true; User ID=hiscentraladmin;Password=HIS@cuahs1" providerName="System.Data.SqlClient" />
    


    <add name="local-DBLog" connectionString="data source=localhost;initial catalog=hiscentral_logging;integrated security=True" />
    <!-- 
        source - p2wat4wc7f.database.windows.net,1433
        catalog - hiscentral_logging
        user - hiscentraladmin
        password - HIS@cuahs1
    -->
    <add name="deploy-DBLog" connectionString="data source=p2wat4wc7f.database.windows.net,1433;initial catalog=hiscentral_logging;integrated security=false;persist security info=True;User ID=hiscentraladmin;Password=HIS@cuahs1" />
	</connectionStrings>
	<!-- BCC - 23-Jun-2013 - Do not use Azure diagnostics - do not want to log to table storage -->
	<!-- 
	<system.diagnostics>
		<trace>
			<listeners>
				<add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
					<filter type="" />
				</add>
			</listeners>
		</trace>
	</system.diagnostics>
	-->
  <system.net>
    <mailSettings>
      <smtp from="cuahsi.wdc@gmail.com">
        <network host="smtp.gmail.com"
                 port="587"
                 userName="cuahsi.wdc@gmail.com"
                 password="HIS@cuahs1"
                 enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace\TextWriterOutput.log" />
				<!-- add name="AzureDiagnostics" type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics" -->
					<add name="AzureDiagnostics" type="HISWebClient.Util.DiagnosticMonTraceListener, HISWebClient">
						<!-- filter initializedata="Info" type="System.Diagnostics.EventTypeFilter"></filter -->
						<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
				</add>
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
	<appSettings>
    <!--Prod
    <add key="ServiceUrl" value="http://hiscentral.cuahsi.org/webservices/hiscentral.asmx" />
    <add key="ServiceUrl1_1_Endpoint" value="http://hiscentral.cuahsi.org/webservices/hiscentral_1_1.asmx" />
    -->
		<!--Custom-->
		<!--		--> <add key="ServiceUrl" value="http://dv.cuahsi.net/webservices/hiscentral.asmx" />
		<add key="ServiceUrl1_1_Endpoint" value="http://dv.cuahsi.net/webservices/hiscentral_1_1.asmx" />

    <!-- BYU URLs-->
		<add key="ByuUrlProd" value="https://apps.hydroshare.org/" />
		<add key="ByuUrlDev" value="https://appsdev.hydroshare.org/" />
    
    <!-- Icon URIs -->
    <add key="uriDefaultIcon" value="http://hiscentral.cuahsi.org/images/defaulticon.gif" />
    <!-- add key="uriCuahsiLogo" value="https://www.cuahsi.org/img/logo.png"/ -->
    <add key="uriCuahsiLogo" value="~/Content/Images/cuahsi_logo_no_text_transparent.png" />

    <!-- Service URLs -->
		<!--<add key="ServiceUrl" value ="http://localhost:62051/webservices/hiscentral.asmx"/>
		<add key="ServiceUrl1_1_Endpoint" value ="http://localhost:62051/webservices/hiscentral_1_1.asmx"/>-->

    <!-- Google External Logout URL Base-->
    <!-- Source: http://stackoverflow.com/questions/16238327/logging-out-from-google-external-service  -->
    <add key="GoogleExternalLogoutUrlBase" value="https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=" />

		<add key="MaxClustercount" value="175" />
		 <add key="maxAllowedTimeseriesReturn" value="25000" />
		
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mseulstorage;AccountKey=qGMxvNIdlM5sKT/Nst+qawayEHdZ103tuPemWNKWfSX9LpmdZEtT/Bus67y5WS5XPEtSFi4r4VOChHK62MUHfQ==" />
		<!-- Blob Storage Access-->
    <add key="BlobStorageViaPrimaryAccessKey" value="DefaultEndpointsProtocol=https;AccountName=ziptest;AccountKey=Vw5R6JPa3caSM0BCjP/Z264N7FQhPCBDAlqaqkbjhuW/wHg/toML6nPzKB6/MImdhL3yNqcmkZfVZpvv43YJqw==" />
    <add key="BlobStorageViaSecondaryAccessKey" value="DefaultEndpointsProtocol=https;AccountName=ziptest;AccountKey=oPl9lgs3L1WeTd+R2S0uGXIDA+IDs55VB5YWn6FGdKGTyzkPuKsoSYKRWvNRaP882HuazCaKhbofe45wD7139w==" />
    <!--<add key="BlobStorageViaPrimaryAccessKey" value="DefaultEndpointsProtocol=https;AccountName=timeserieszip;AccountKey=EuQ1V5b2u29XmZmcHpPAK3gNfUZ/1ZqWAMivsFriqvN8dHDH6IiTAjrk5D3gPDTPuiDp/cIFh/c4Xo2ZOnWhUA==" />
		<add key="BlobStorageViaSecondaryAccessKey" value="DefaultEndpointsProtocol=https;AccountName=timeserieszip;AccountKey=ryiYpqW5eQQE3cSK9HCOR7kd7E/UJxdB8V3UDutEiCfu8jVY9fjlGlLyH+N6szTRBAQZ2Qk42YDASlRxKop+cw==" />-->
		<add key="blobContainer" value="time-series" />

    <!-- Increase parameter to avoid error: 'The JSON request was too large to be deserialized' 
          source: http://stackoverflow.com/questions/10966328/getting-the-json-request-was-too-large-to-be-deserialized
    -->
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />

	</appSettings>
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<!--Application Insights: add System.Runtime assembly to resolve PCL dependencies-->
				<add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5" />
		<httpModules>
		</httpModules>
		
			<sessionState mode="InProc" cookieless="false" timeout="20" />

    <!--<sessionState mode="Custom" customProvider="MySessionStateStore">
			<providers>
				--><!--
					<add name="MySessionStateStore" 
						host = "127.0.0.1" [String]
						port = "" [number]
						accessKey = "" [String]
						ssl = "false" [true|false]
						throwOnError = "true" [true|false]
						retryTimeoutInMilliseconds = "5000" [number]
						databaseId = "0" [number]
						applicationName = "" [String]
						connectionTimeoutInMilliseconds = "5000" [number]
						operationTimeoutInMilliseconds = "1000" [number]
					/>
				--><!--
				<add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="hiswebclient.redis.cache.windows.net" Port="6379" accessKey="LjDP+p9dDGIIPuQ34/MvDQq3iUyLAghdGnGDykO9wp8=" ssl="false" throwOnError="true" operationTimeoutInMilliseconds="10000" />
			</providers>
		</sessionState>-->
	</system.web>
	<system.webServer>
    <!-- BCC - 13-Oct-2015 - Added runAllManagedModulesForAllRequests to allow Web Api to accept file name parameters containing and extension, like '.zip' 
                             Source: http://stackoverflow.com/questions/20998816/dot-character-in-mvc-web-api-2-for-request-such-as-api-people-staff-45287 
                             runAllManagedModulesForAllRequests="true" -->
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
	<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<!-- BCC - 09-Jun-2015 - Added mime type for *.woff files
					Source: http://blogs.iis.net/richma/adding-mime-types-to-your-windows-azure-web-site  
		 -->
		<staticContent>
			<!-- NOTE: Included the remove tag to ensure IIS Express loads the web page properly... -->
      <remove fileExtension=".pdf" />
      <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
