<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <!--BYU URL Prod... -->
    <add key="ByuUrl"
      value="https://apps.hydroshare.org/"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--SOLR	Stage	-->
    <add key="ServiceUrl"
         value="http://hiscentral-stage.cuahsi.org/webservices/hiscentral.asmx"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ServiceUrl1_1_Endpoint"
         value="http://hiscentral-stage.cuahsi.org/webservices/hiscentral_1_1.asmx"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Build Type-->
    <add key="buildType"
      value="***STAGING***"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <!-- Disable 'Debug' Mode... -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>