<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <!--BYU URL Dev... -->
    <add key="ByuUrl"
      value="https://appsdev.hydroshare.org/"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--SOLR	QA	-->
    <add key="ServiceUrl" 
         value="http://hiscentralsolr.cloudapp.net/webservices/hiscentral.asmx"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ServiceUrl1_1_Endpoint" 
         value="http://hiscentralsolr.cloudapp.net/webservices/hiscentral_1_1.asmx"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Build Type-->
    <add key="buildType"
      value="***DEBUG***"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.web>
    <!-- Display detailed errors on remote client and local host... -->
    <customErrors mode="Off" xdt:Transform="Insert">
    </customErrors>    
  </system.web>
  
</configuration>
