<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=301880
	-->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
    <!-- PRODUCTION HISClientUsers -->
    <!--<add name="DefaultConnection" connectionString="Data Source=ma075ln8iq.database.windows.net,1433;Initial Catalog=HISClientUsers; Integrated Security=false;Persist Security Info=true; User ID=hiscentraladmin;Password=HIS@cuahs1" providerName="System.Data.SqlClient" />-->

    <!-- DEVELOPMENT HISClientUsers -->
    <!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=HISClientUsers; Integrated Security=false;Persist Security Info=true; User ID=hiscentraladmin;Password=HIS@cuahs1" providerName="System.Data.SqlClient" />-->

    <!-- QA Web Site HISClientUsers -->
    <add name="DefaultConnection" connectionString="Data Source=p2wat4wc7f.database.windows.net,1433;Initial Catalog=HISClientUsers; Integrated Security=false;Persist Security Info=true; User ID=hiscentraladmin;Password=HIS@cuahs1" providerName="System.Data.SqlClient" />
    
    
    <!-- DEVELOPMENT hiscentral_logging -->
    <add name="local-DBLog" connectionString="data source=localhost;initial catalog=hiscentral_logging;integrated security=True" providerName="System.Data.SqlClient" />
    <!-- 
        source - p2wat4wc7f.database.windows.net,1433
        catalog - hiscentral_logging
        user - hiscentraladmin
        password - HIS@cuahs1
    -->
    
    <!-- DEPLOYED hiscentral_logging -->
    <add name="deploy-DBLog" connectionString="data source=p2wat4wc7f.database.windows.net,1433;initial catalog=hiscentral_logging;integrated security=false;persist security info=True;User ID=hiscentraladmin;Password=HIS@cuahs1"  providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="cuahsi.wdc@gmail.com">
        <network host="smtp.gmail.com"
                 port="587"
                 userName="cuahsi.wdc@gmail.com"
                 password="HIS@cuahs1"
                 enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace\TextWriterOutput.log" />
				<!-- add name="AzureDiagnostics" type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics" -->
					<add name="AzureDiagnostics" type="HISWebClient.Util.DiagnosticMonTraceListener, HISWebClient">
						<!-- filter initializedata="Info" type="System.Diagnostics.EventTypeFilter"></filter -->
						<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
				</add>
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
	<appSettings>
    <!-- Martin's Revised Catalog URL for methods, sources and quality control levels...-->
    <!--<add key="ServiceUrl" value="http://qa-hiscentralsolr.azurewebsites.net/webservices/hiscentral.asmx" />
    <add key="ServiceUrl1_1_Endpoint" value="http://qa-hiscentralsolr.azurewebsites.net/webservices/hiscentral_1_1.asmx" />-->

    <!-- 13-Oct-2016 - New URL's per Martin's e-mail of 12-Oct-2016 -->
    <add key="ServiceUrl" value="http://qa-catalog-solr.cloudapp.net/QA-hiscentralsolr/webservices/hiscentral.asmx" />
    <add key="ServiceUrl1_1_Endpoint" value="http://qa-catalog-solr.cloudapp.net/QA-hiscentralsolr/webservices/hiscentral_1_1.asmx" />

    <add key="getIconUrl" value="http://qa-catalog-solr.cloudapp.net/QA-hiscentralsolr"/>

    <!--Prod-->
    <!--<add key="ServiceUrl" value="http://hiscentral.cuahsi.org/webservices/hiscentral.asmx" />
    <add key="ServiceUrl1_1_Endpoint" value="http://hiscentral.cuahsi.org/webservices/hiscentral_1_1.asmx" />--> 
    
		<!--Custom-->
		<!--<add key="ServiceUrl" value="http://dv.cuahsi.net/webservices/hiscentral.asmx" />
		<add key="ServiceUrl1_1_Endpoint" value="http://dv.cuahsi.net/webservices/hiscentral_1_1.asmx" />-->
		
    <!--SOLR	prod -->
		<!--<add key="ServiceUrl" value="http://hiscentralsolr.cloudapp.net/webservices/hiscentral.asmx" />
		<add key="ServiceUrl1_1_Endpoint" value="http://hiscentralsolr.cloudapp.net/webservices/hiscentral_1_1.asmx" />-->
        
    <!--SOLR	QA	-->
    <!--<add key="ServiceUrl" value="http://hiscentralsolr.cloudapp.net/webservices/hiscentral.asmx" />
    <add key="ServiceUrl1_1_Endpoint" value="http://hiscentralsolr.cloudapp.net/webservices/hiscentral_1_1.asmx" />-->
    
    <!--SOLR	Stage	-->
    <!--<add key="ServiceUrl" value="http://hiscentral-stage.cuahsi.org/webservices/hiscentral.asmx" />
    <add key="ServiceUrl1_1_Endpoint" value="http://hiscentral-stage.cuahsi.org/webservices/hiscentral_1_1.asmx" />-->

    <!-- Local Build Service URLs -->
    <!--<add key="ServiceUrl" value ="http://localhost:62051/webservices/hiscentral.asmx"/>
		<add key="ServiceUrl1_1_Endpoint" value ="http://localhost:62051/webservices/hiscentral_1_1.asmx"/>-->

    <!-- BYU URLs-->
		<!--Possible values: "https://apps.hydroshare.org/" OR "https://appsdev.hydroshare.org/" -->
    <add key="ByuUrl" value="https://appsdev.hydroshare.org/" />
    <!--<add key="ByuUrl" value="https://apps.hydroshare.org/" />-->
    
    <!-- Icon URIs -->
    <add key="uriDefaultIcon" value="http://hiscentral.cuahsi.org/images/defaulticon.gif" />
    <add key="uriCuahsiLogo" value="~/Content/Images/cuahsi_logo_no_text_transparent.png" />


    <!-- Google External Logout URL Base-->
    <!-- Source: http://stackoverflow.com/questions/16238327/logging-out-from-google-external-service  -->
    <add key="GoogleExternalLogoutUrlBase" value="https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=" />

		<add key="MaxClustercount" value="175" />
		<add key="maxAllowedTimeseriesReturn" value="25000" />
    <add key="maxCombinedExportValues" value="750000" />

    <add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mseulstorage;AccountKey=qGMxvNIdlM5sKT/Nst+qawayEHdZ103tuPemWNKWfSX9LpmdZEtT/Bus67y5WS5XPEtSFi4r4VOChHK62MUHfQ==" />-->
		<!-- Blob Storage Access-->
    <add key="BlobStorageViaPrimaryAccessKey" value="DefaultEndpointsProtocol=https;AccountName=ziptest;AccountKey=Vw5R6JPa3caSM0BCjP/Z264N7FQhPCBDAlqaqkbjhuW/wHg/toML6nPzKB6/MImdhL3yNqcmkZfVZpvv43YJqw==" />
    <add key="BlobStorageViaSecondaryAccessKey" value="DefaultEndpointsProtocol=https;AccountName=ziptest;AccountKey=oPl9lgs3L1WeTd+R2S0uGXIDA+IDs55VB5YWn6FGdKGTyzkPuKsoSYKRWvNRaP882HuazCaKhbofe45wD7139w==" />
		<add key="blobContainer" value="time-series" />

    <!-- Increase parameter to avoid error: 'The JSON request was too large to be deserialized' 
          source: http://stackoverflow.com/questions/10966328/getting-the-json-request-was-too-large-to-be-deserialized
    -->
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />

    <add key="currentVersion" value="1.2"/>

    <add key="buildTypeDebug" value="***DEBUG***"/>
    <add key="buildTypeRelease" value="***RELEASE***"/>

  </appSettings>
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.5">
    <!--<compilation debug="false" targetFramework="4.5">-->
        <assemblies>
				<!--Application Insights: add System.Runtime assembly to resolve PCL dependencies-->
				<add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5" />
		<httpModules>
		</httpModules>
		
    <!-- For testing, set session timeout to one (1) minute -->
			<sessionState mode="InProc" cookieless="false" timeout="20" />
    <!--<sessionState mode="InProc" cookieless="false" timeout="1" />-->

	</system.web>
	<system.webServer>
    <!-- BCC - 13-Oct-2015 - Added runAllManagedModulesForAllRequests to allow Web Api to accept file name parameters containing and extension, like '.zip' 
                             Source: http://stackoverflow.com/questions/20998816/dot-character-in-mvc-web-api-2-for-request-such-as-api-people-staff-45287 
                             runAllManagedModulesForAllRequests="true" -->
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
	<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<!-- BCC - 09-Jun-2015 - Added mime type for *.woff files
					Source: http://blogs.iis.net/richma/adding-mime-types-to-your-windows-azure-web-site  
		 -->
		<staticContent>
			<!-- NOTE: Included the remove tag to ensure IIS Express loads the web page properly... -->
      <remove fileExtension=".pdf" />
      <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
